<div class="row">
	<div class="col-md-12">
	  <div class="box">
	    <div class="box-header with-border">
	  	    <div class="box-header pull-right">
  	    		<a class="btn btn-success" href="#/catalog/newproduct/information">
		      		<i class="fa fa-plus"></i>&nbsp; Create New Product
	      		</a>
		    </div><!-- /.box-header -->
		    <div class="box-header pull-left">
		      <h3 class="box-title">Product Table</h3>
		    </div><!-- /.box-header -->
	    </div><!-- /.box-header -->

	    <div class="box-body table-responsive">
	      <table class="table table-bordered">
	        <tbody><tr>
	          <th style="width: 10px">#</th>
	          <th>Nama Product</th>
	          <th>Progress</th>
	          <th>Brand</th>
	          <th></th>
	        </tr>
	        <tr ng-repeat="item in lazyloads">
	        	<td style="vertical-align:middle">{{item.id}}</td>
	        	<td style="vertical-align:middle">{{item.nama}}</td>
	        	<td style="vertical-align:middle">{{item.category}}</td>
	        	<td style="vertical-align:middle">{{item.brand}}</td>
	          	<td>
	          		<table class="table table-bordered" >
	          			<tr ng-repeat="variant in item.variants">
	          				<td>{{variant.unitstock}}</td>
		          			<td>{{variant.variantsize}}</td> 
		          			<td>{{variant.variantcolor}}</td>
		          			<td>{{variant.variantprice}}</td>
  				          	<td>
					          	<ngcart-addtocart id="{{ variant.variantid }}" name="{{ item.nama }}" 
					          			price="{{ variant.variantprice }}" quantity="1" quantity-max="12" data="item">
					          			Add to Cart
					          		</ngcart-addtocart>
				          </td>
	          			</tr>
	          		</table>

          		</td>
	        </tr>
	      </tbody></table>
	    </div><!-- /.box-body -->
	    <div class="box-footer clearfix">
	      <ul class="pagination pagination-sm no-margin pull-right">
	        <li><a href="#">«</a></li>
	        <li><a href="#">1</a></li>
	        <li><a href="#">2</a></li>
	        <li><a href="#">3</a></li>
	        <li><a href="#">»</a></li>
	      </ul>
	    </div>
	  </div><!-- /.box -->
	</div>
</div>