<div class="row">
	<div class="col-md-12">
	  <div class="box">
	    <div class="box-header with-border">
	  	    <div class="box-header pull-right">
  	    		<a class="btn btn-success">
		      		<i class="fa fa-plus"></i>&nbsp; Create New Product
	      		</a>
		    </div><!-- /.box-header -->
		    <div class="box-header pull-left">
		      <h3 class="box-title">Product Table</h3>
		    </div><!-- /.box-header -->
	    </div><!-- /.box-header -->

	    <div class="box-body table-responsive">
	      <table class="table table-bordered">
	        <tbody><tr>
	          <th style="width: 10px">#</th>
	          <th>Nama Product</th>
	          <th>Progress</th>
	          <th>Size</th>
	          <th>Color</th>
	          <th>Stock</th>
	          <th>Price</th>
	          <th>Weight</th>
	        </tr>
	        <tr ng-repeat="variant in variantlists">
	          <td>{{variant.id}}</td>
	          <td>{{variant.produkname}}</td>
	          <td><span class="badge bg-red">55%</span></td>
	          <td>{{variant.size}}</td>
	          <td>{{variant.color}}</td>
	          <td>{{variant.unitStock}}</td>
	          <td>{{variant.harga|number}}</td>
	          <td>{{variant.berat}} &nbsp; kg</td>
	        </tr>
	        </tr>
	      </tbody></table>
	    </div><!-- /.box-body -->
	    <div class="box-footer clearfix">
	      <ul class="pagination pagination-sm no-margin pull-right">
	        <li><a href="#">«</a></li>
	        <li><a href="#">1</a></li>
	        <li><a href="#">2</a></li>
	        <li><a href="#">3</a></li>
	        <li><a href="#">»</a></li>
	      </ul>
	    </div>
	  </div><!-- /.box -->
	</div>
</div>