<div class="row">
	<div class="productTabs col-lg-3 col-md-3">
		<div class="list-group">
			<a class="list-group-item" href="#/catalog/newproduct/information">Information</a>
			<a class="list-group-item" href="#/catalog/newproduct/prices">Prices</a>
			<a class="list-group-item" href="#/catalog/newproduct/seo">SEO</a>
			<a class="list-group-item" href="#/catalog/newproduct/association">Associations</a>
			<a class="list-group-item" href="#/catalog/newproduct/shipping">Shipping</a>
			<a class="list-group-item" href="#/catalog/newproduct/combination">Combinations</a>
			<a class="list-group-item" href="#/catalog/newproduct/quantities">Quantities</a>
			<a class="list-group-item" href="#/catalog/newproduct/images">Images</a>
			<a class="list-group-item" href="#/catalog/newproduct/features">Features</a>
			<a class="list-group-item" href="#/catalog/newproduct/customization">Customization</a>
		</div>
	</div>
	<div class="col-md-9" ui-view>

	</div>
</div>