<div class="wrapper" >
  <header class="main-header">
    <a href="index2.html" class="logo">
      <span class="logo-mini"><b>A</b>LT</span>
      <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="javascript:;" class="sidebar-toggle" ng-click="toggleMenu()" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">

        <ul class="nav navbar-nav">
          <li><ngcart-summary></ngcart-summary></li>
          <li class="dropdown user user-menu" uib-dropdown>
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toogle>
              <img src="adminlte/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Alexander Pierce</span>
            </a>
            <ul class="uib-dropdown-menu">
              <!-- User image -->

              <li class="user-header">
                <img src="adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="col-xs-4 text-center">
                  <a href="javascript:;">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="javascript:;">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="javascript:;">Friends</a>
                </div>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="javascript:;" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="javascript:;" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="content-wrapper" >
    
    <section class="content">
    	<div ui-view="listproduct"></div>
      <div ui-view="newproduct"></div>
      <div ui-view="order"></div>
    </section>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.0
    </div>
    <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
  </footer>

  <aside class="main-sidebar" >
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="pages/widgets.html">
                <i class="fa fa-th"></i> <span>Dashboard</span> 
                <small class="label pull-right bg-green">new</small>
          </a>
        </li>
        <li class="treeview" uib-dropdown>
          <a href="javascript:;" uib-dropdown-toggle>
            <i class="fa fa-share"></i> <span>Market</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="javascript:;"><i class="fa fa-circle-o"></i> Catalog<i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#/catalog/product"><i class="fa fa-circle-o"></i> Product</a></li>
                <li><a href="#/catalog/brand"><i class="fa fa-circle-o"></i> Brand</a></li>
                <li><a href="#/catalog/category"><i class="fa fa-circle-o"></i> Category</a></li>
                <li><a href="#/catalog/size"><i class="fa fa-circle-o"></i> Size</a></li>
                <li><a href="#/catalog/color"><i class="fa fa-circle-o"></i> Color</a></li>
                <li><a href="#/catalog/variant"><i class="fa fa-circle-o"></i> Variant</a></li>
                <li><a href="#/catalog/lazyload"><i class="fa fa-circle-o"></i> LazyLoad</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:;"><i class="fa fa-circle-o"></i> Orders<i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#/order/allorder"><i class="fa fa-circle-o"></i> All Order</a></li>
                <li><a href="#/order/requestorder"><i class="fa fa-circle-o"></i> Request Order</a></li>
                <li><a href="#/order/purchaseorder"><i class="fa fa-circle-o"></i> Purchase Order</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:;"><i class="fa fa-circle-o"></i> Customers<i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a ui-sref=".product"><i class="fa fa-circle-o"></i> Platinum Customer</a></li>
                <li><a ui-sref=".product"><i class="fa fa-circle-o"></i> Gold Customer</a></li>
                <li><a ui-sref=".brand"><i class="fa fa-circle-o"></i> Silver Customer</a></li>
                <li><a ui-sref=".brand"><i class="fa fa-circle-o"></i> Regular Customer</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="treeview" uib-dropdown>
          <a href="javascript:;" uib-dropdown-toggle>
            <i class="fa fa-gear"></i> <span>Setting</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="javascript:;"><i class="fa fa-circle-o"></i> Catalog<i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a ui-sref=".product"><i class="fa fa-circle-o"></i> Product</a></li>
                <li><a ui-sref=".brand"><i class="fa fa-circle-o"></i> Brand</a></li>
                <li><a ui-sref=".category"><i class="fa fa-circle-o"></i> Category</a></li>
                <li><a ui-sref=".size"><i class="fa fa-circle-o"></i> Size</a></li>
                <li><a ui-sref=".color"><i class="fa fa-circle-o"></i> Color</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:;"><i class="fa fa-circle-o"></i> Orders<i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a ui-sref=".product"><i class="fa fa-circle-o"></i> Request Order</a></li>
                <li><a ui-sref=".brand"><i class="fa fa-circle-o"></i> Purchase Order</a></li>
                <li><a ui-sref=".category"><i class="fa fa-circle-o"></i> Sales Order</a></li>
              </ul>
            </li>
            
          </ul>
        </li>
      </ul>
    </section>
  </aside>
</div>

